
@font-face {
    /* font-family: 'Pretendard';
    src: url("../assets/font/Pretendard-Regular.ttf") format('ttf'),
         url("../assets/font/Pretendard-Regular.otf") format('otf'),
         url("../assets/font/Pretendard-Regular.woff2") format('woff2'); */

         @font-face {
          font-family: 'Pretendard';
          font-weight: 900;
          font-display: swap;
          src: url("../assets/font/Pretendard-Black.woff2") format('woff2');

        }
        @font-face {
          font-family: 'Pretendard';
          font-weight: 800;
          font-display: swap;
          src: url("../assets/font/Pretendard-ExtraBold.woff2") format('woff2');
        }
        @font-face {
          font-family: 'Pretendard';
          font-weight: 700;
          font-display: swap;
          src: url("../assets/font/Pretendard-Bold.woff2") format('woff2');
        }
        @font-face {
          font-family: 'Pretendard';
          font-weight: 600;
          font-display: swap;
          src: url("../assets/font/Pretendard-SemiBold.woff2") format('woff2');
        }
        @font-face {
          font-family: 'Pretendard';
          font-weight: 500;
          font-display: swap;
          src: url("../assets/font/Pretendard-Medium.woff2") format('woff2');
        }
        @font-face {
          font-family: 'Pretendard';
          font-weight: 400;
          font-display: swap;
          src: url("../assets/font/Pretendard-Regular.woff2") format('woff2');
        }

        @font-face {
          font-family: 'Pretendard';
          font-weight: 300;
          font-display: swap;
          src: url("../assets/font/Pretendard-Light.woff2") format('woff2');
        }

        @font-face {
          font-family: 'Pretendard';
          font-weight: 200;
          font-display: swap;
          src: url("../assets/font/Pretendard-ExtraLight.woff2") format('woff2');
        }

        @font-face {
          font-family: 'Pretendard';
          font-weight: 100;
          font-display: swap;
          src: url("../assets/font/Pretendard-Thin.woff2") format('woff2');
        }
  }
  /* header   */
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.3rem;
  }
  h6 {    font-family: 'Pretendard';
    font-size:17px;
    /* font-weight: 800; */
  }
  h5{

    font-size:15px;
    font-weight: 400;
  }
  div{font-family: 'Pretendard', sans-serif;
      font-weight: normal;
      font-size:  1em;}

    .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    }
    
    .bg-light {
        background-color: #fff !important;
      }
    
    .sticky-top {
        position: sticky;
        top: 0;
        height: 45px;
        z-index: 1020;
        border-bottom : 0.8px solid #a9a9a9;
    }
    
    .main_logo img{
        position:absolute;
        top:0;
        left:0;
    width: 170px;
    height: 70px;
    }

    .px-2 { 
        /* 아이콘 색상 */
        color:#000;
        padding-right: 0.2rem !important;
        padding-left: 0.9rem !important;
      }
    /* .nav_con{

    } */

  /* footer */
  .div_con{
    width:500px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
  }
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}


.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
  border-top : 0.8px solid #a9a9a9;
}

.mt-3{
  margin-top: 1rem !important;
}

.px-33{
  color:#000;
  padding:0 20px;
}

/* community.js */
.card-body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.media {
  display: flex;
  align-items: flex-start;
}

.media img {
  width: 50px;
  height: 50px;
  padding-bottom: 3px;
  border-radius: 50%;
  display: flex;
  align-items: flex-start;
}
.mr-3,
.mx-3 {
  margin-bottom: 0.4rem;
  margin-right: 0.6rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.2rem !important;
}

.mt-11{
  
  margin-top: 0.6rem;
  font-size: 18px;
}
.mb-0,
.my-0 {
  margin-top: 0.6rem;
  margin-bottom: 0.3rem !important;
}

.text-muted {
  color: #adb5bd !important;
}

.w-100 {
  width: 100% !important;
}

.px-3 { 
  /* 아이콘 색상 */
  color:#000;
  padding-right:0.5rem;
}

.time_ago{
  font-size:15px;
}

.content_container{
  float:left;
}

.content_id{
  float:left;
  border:1px solid black;
}

.content{
  float:left;
  border:1px solid black;
}

.content_more{
  float:left;
  border:1px solid black;
}

/* mypage css */
.pro_container{
  display:flex;
  justify-content: space-around;
  align-items: center;
}
.pro_container div{
  text-align: center;
}

.pro{
  width:100px;
  display: flex;
  flex-direction: column;
}
.pro_user_name{
  margin-left:10px;
}
.pro_img {
  margin-top:18%;
  margin-left:15%;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.pro_stats{
  display: flex;
  margin:0 auto;
}

.pro_stats div{
  margin-left: 1.5em;
  margin-right: 1.2em;
  margin-top: 1.2em;
}

.btn{
    font-family: Pretendard;
    display: inline-block;
    font-weight: 400;
    color: #444;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    line-height: 1.5;
    border-radius: 1.7rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.pro_set{
  display: flex;
  justify-content: center;
    align-items: center;
  /* border: 1px solid; */
  margin-top:5px;
}
.pro_edit_btn{
  width:80%;
  height: 45px;
  border-radius: 1.4rem;
  font-size: 1.1rem;
  color:rgb(86, 86, 86);
  background-color: rgb(224, 224, 224);
  margin-left: 6px;
  margin-right: 10px;}

.pro_recommend{
  width:45px;
  height:45px;
  background-color : rgb(224, 224, 224);
  border-radius: 50%;
  display: flex;
  align-items:center;
  justify-content:center;
}

/* 이미지 그리드 */
.grid_photo {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1%;
}

.img_box{
  width:100%;
  position:relative;
}

.img_box img {
  cursor: pointer;
  width: 100%;
  height: 100%;
}








